# Log files
*.log

# Dependency directories
/node_modules/
/frontend/node_modules/

# Build output
/build/
/frontend/dist/
/out/

# IDE and editor files
.gradle/
.idea/
*.iws
*.iml
*.ipr
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Java
*.class
hs_err_pid*

# Don't ignore the wrapper jar
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
